
.app-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  text-align: center;
}


header {
  margin-top: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 1.5rem;
}

header p {
  font-size: 1rem;
  margin: 10px 0;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: purple;
  font-size: 1.2rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


#main-section {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.blue {
  background-color: blue;
  color: white;
  width: 100%; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.red {
  background-color: red;
  color: white;
  width: 100%; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.home {
  background-color: lightgray;
  color: black;
  width: 100%; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
}
